<div class="head flex flex-ai-c flex-jc-c">
  <h2>Contrybutors</h2>
</div>

<div class="main">
  <div class="flex flex-jc-c">
    <input 
      type="text" 
      id="search" 
      class="form-control"
      placeholder="Search"
      [(ngModel)]="mymodel"
      (keyup)="filterUsers($event)"
      />
  </div>

  <div class="list flex flex-fd-c">

    <div *ngFor="let member of filteredTeams" class="flex flex-ai-c flex-jc-c member" (click)="activateTeam(member)" [ngClass]="[member.isActive ? 'isActive': '']">
      
      
      <div class="prof-img" [ngClass]="[member.isActive ? 'isActive': '']">
        <img src="{{member.image}}" alt="profil picture" class="profImg">
      </div>
      <div class="flex flex-fd-c" [ngClass]="[member.isActive ? 'isActive': '']">
        <div class="name"[ngClass]="[member.isActive ? 'isActive': '']">{{member.name}}</div>
        <div class="member-title"[ngClass]="[member.isActive ? 'isActive': '']">{{member.title}}</div>
      </div>
      <div [ngClass]="[member.isActive ? 'isActive': '']">
         <div [ngClass]="[member.isActive ? 'isActive': '']">
          <i class="icon" [ngClass]="[member.isActive ? 'isActive': '']" 
          style="float: right" 
          *ngIf="member.isActive; else inActive">
          <mat-icon>remove</mat-icon>
        </i>
          <ng-template class="icon" #inActive>
            <div class="icon">
              <mat-icon style="float: right">add</mat-icon>

            </div>            
          </ng-template>
        </div> 
       
      </div>
      
    </div>

  </div>
  <div class="buttons flex flex-jc-c flex-jc-sb">
    <button type="button" class="btn btn-pre">Previous</button>
    <button type="button" class="btn btn-next">Next</button>
  </div>
</div>