/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Work+Sans:wght@700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    height: 100%;
    
}

app-root {
    width: 100%;
    height: 100%;
    max-width: 612px;
    max-height: 828px
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
